/*ipin code*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width:500px) {

    .controls-wrapper {
        position: fixed;
    }
}

@media only screen and (min-width:1201px) {
    .mapimg {
        width: 75%;
    }

    #navigator {
        width: 25%;
    }

    #navigatorPanelController {
        display: none;
    }
}


@media only screen and (max-width:1200px) {
    #dialog-box-content {
        width: 55%;
        height: 40%;
    }

    .mapimg {
        width: 100%;
    }

    #navigator {
        width: 0%;
    }

    #navigatorPanelController {
        background-color: #E60013;
        width: 1%;
        display: block;
    }
}

@media only screen and (max-width:500px) {

    /* For mobile phones: */
    .oneberry-logo {
        width: 100%;
    }

    #navigatorPanelController {
        background-color: #E60013;
        width: 1%;
        display: block;
    }

    .roboguard-logo {
        width: 50%;
        margin: auto;
        display: block;
        margin-left: 25%;
    }


    #controlContainer {
        width: 100%;
        height: 65%%;
        overflow-y: auto;
        float: left;
    }

    .control-pages {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .robo-header {
        width: 100%;
    }

    #dialog-box-content {
        width: 100%;
        height: 50%;
    }

    #expandFont {
        transform: scale(1, 2);
    }

    .sidebtn {
        margin-left: -25px;
    }

}



#logoutbutton {
    position: relative;
    z-index: 900;
    background: transparent;
    font-size: 50px;
}

#speed-module {
    border: red solid 1px;
    height: 50px;
    width: 100%;
}


.not-allowed {
    cursor: not-allowed;
}

#robotLocationimg {
    width: 40%;
    max-width: 10%;
    height: :70%;
    max-height: 10%;
}

#robotLocationimgCanvas {
    width: 20%;
    max-width: 20%;
    height: :30%;
    max-height: 30%;
    -webkit-text-size-adjust: none
}

#navigatorPanelController {
    height: 100%;
    z-index: 1001;
    /*border:black 2px solid;*/
    vertical-align: bottom;

}

#expandFont {
    display: inline-block;
    font-size: 8px;
    position: fixed;
    bottom: 0;
    /*margin-left: -7px;*/
    /*z-index: 9999;*/
    transform: scale(2, 4);
    margin-bottom: 50px;
    color: black;
}

.robo-header {
    overflow: auto;
    /*border:red solid 2px;*/
    width: 100%;
}

.actionButton {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#autonomous-box {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    z-index: 901;
}

#autonomous-box-content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    position: absolute;
    width: 99%;
    height: 94%;
    margin: 0 auto;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding-top: 1em;*/
    z-index: 901;
}

#autonomous-box-content .toggle-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}


#autonomous-box-content .toggle-container .toggle-item {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#autonomous-box-content .toggle-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    color: black;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

#autonomous-title {
    text-align: right;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    /*height: 10vh;
  line-height: 10vh;
  font-size: 5vh;*/
    font-weight: bold;
    width: 100%;
    top: 2;
    padding-right: 15px;
    position: absolute;
    /*border: black solid 1px;*/
}

#autnomousContainer {
    text-align: left;
    /*text-transform: uppercase;*/
    font-size: 1.4em;
    /*font-weight: bold;*/
    width: 100%;
    top: 0;
    padding-left: 15px;
    position: absolute;
    z-index: 999;
    /*border: red solid 1px;*/
}

#calibrationCenter {
    font-size: 0.7em;
    font-weight: normal;
    /*border: red solid 1px;*/
}

#controlGroup {
    width: 800px;
    /*border: red solid 1px;*/
    padding-left: 35%;
}

#changemapContainer {
    width: auto;
    height: : auto;
    padding-top: 50px;
    /*border: red solid 1px;*/
}


#imageInput {
    width: auto;
    height: 30px;
    margin-top: 20px;
    /*border: red solid 1px;*/
}


#addRouteGroup {
    width: 800px;
    /*border: red solid 1px;*/
    padding-left: 25%;
}

.prevOffset {
    text-transform: none;
    font-size: 1em;
    font-weight: normal;
    /*border: red solid 1px;*/
}

#autonomous-box[data-visibility="false"] {
    display: none;
}



.sidebtn {
    position: relative;
    z-index: 900;
    background: transparent;
}

#lightButton {
    position: relative;
    z-index: 900;
    background: transparent;
}

#speedup {
    position: relative;
    z-index: 900;
    background: transparent;
}

#speeddown {
    position: relative;
    z-index: 900;
    background: transparent;
}

.icons {
    vertical-align: top;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    opacity: 0.5;
    width: 50px;
    height: 70px;
}

#closeAutonomousBoxButton {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
    background-color: #e60013;
}

.border1 {
    border: red solid 1px;
}

.fontsize1 {
    font-size: 20pt;
}

.shapeRound1 {
    background-image: linear-gradient(to bottom, #e6ffff, #ffffe6);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 40px;
    margin-right: 20px;
    font-size: 1em;
}

.shapeRound2 {
    background-image: linear-gradient(to bottom, #e6ffff, #ffffe6);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: auto;
    margin-right: 20px;
}

.button1 {
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    /*cursor: pointer;*/
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4f4f4f;
    background-image: linear-gradient(315deg, #5b6467 0%, #4f4f4f 80%);
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px #999;
}

.button1:hover {
    background-color: #3e8e41
}

.button1:focus {
    background-color: red;
}

.button1:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.paddingCellleft {
    padding-left: 30px;
}

.padding30btm {
    padding
}



.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    /*border:red solid 2px;*/
}

#navigator {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    background-color: white;
    z-index: 1000;
    border-right: white solid 2px;
}

#controlContainer {
    top: 0;
    overflow: auto;
    height: 88%;
    width: 100%;
}

.mapimg {
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    height: 100%;
    border: black solid 2px;
}

.mapimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1180px;
    height: 885px;
    z-index: -1;
    /*border:red solid 2px;*/
}


.mapimg canvas {
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 800;*/
    /*border:white solid 2px;*/
    /*margin-left: 20%;*/
}

.calibrateBtn {
    /*text-transform: none;*/
    position: absolute;
    width: auto;
    left: 0;
    top: 0;
    height: 30px;
    /*border:blue solid 2px;*/
}

#functionSwitches {
    /*text-transform: none;*/
    position: relative;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    /*border:red solid 2px;*/
}

#autnomousTable {
    /*border:blue solid 2px;*/
    width: 100%;
    height: 100%;
}


#calibrationCenter {
    /*text-transform: none;*/
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    /*left:0;*/
    /*top:0;*/
    height: auto;
    /*border:blue solid 2px;*/
}



caption {
    padding: 1px;
    margin: 0;
    caption-side: top;
    font-size: 0.8em;
    color: black;
    font-weight: normal;
}


.offsetInput {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}




/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 14px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.tabcontentContainer {
    display: none;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin-bottom: 100px;
    /*border: green solid 3px;*/
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid black;*/
    height: 100%;
    overflow: auto;
    border-top: none;
    color: black;
    font-size: 17px;
}

/* Style the tab content */
.tabcontent h3 {
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tabcontent h2 {
    padding: 10px 10px;
    width: 100%;
    /*border:blue solid 2px;*/
    display: flex;
    justify-content: space-around;
}

.tabcontent p {
    padding: 10px 10px;
}

.tabcontent div.label {
    width: 35%;
    /*border:red solid 2px;*/
}

.tabcontent .listing {
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 20px;
}

.tabcontent .input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;
    /*border:red solid 2px;*/
}

.tabcontent .text {
    width: 40%;
    margin-left: 2px;
    margin-right: 2px;
    /*border:red solid 2px;*/
}

.tabcontent .number {
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
    /*border:red solid 2px;*/
}

.tabcontent .songlist {
    padding: 0;
    margin: 0;
    /*border:red solid 2px;*/
}

.tabcontent .songtitle {
    text-align: left;
    /*border:red solid 2px;*/
}

.tabcontent .audio {
    width: 40%;
    margin-left: 2px;
    margin-right: 2px;
    /*border:red solid 2px;*/
}

.tabcontent .imgFace {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    /*border:red solid 2px;*/
}

.tabcontent .listContainer {
    width: 100%;
    height: 70%;
    overflow: auto;
    /*border:red solid 2px;*/
}


.tabcontent #zoneCoor {
    width: 100%;
    height: 400px;
    overflow: auto;
    /*border:red solid 2px;*/
}



input[type=checkbox] {
    transform: scale(1.5);
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 17px;
    visibility: hidden;
}

input[type=checkbox]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 5px;
    color: #00BFF0;
    width: 50%;
    height: 15px;
    visibility: visible;
    border: 1px solid #00BFF0;
    padding-left: 3px;
    border-radius: 5px;
}

input[type=checkbox]:checked:after {
    content: "\2714";
    padding: -5px;
    font-weight: bold;
}


/*Select*/
/*Select*/
/*Select*/
/*Select*/
/*Select*/
/*Select*/
/*Select*/

.select-css {
    display: block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

/*end ipin code*/


.testdiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    border: blue solid 1px;
    overflow: auto;
}